.notice {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__subject {
        border: 2px solid $dark_grey;
        border-radius: 10px;
        height: 40px;
        padding-left: 30px;
        display: flex;
        align-items: center;
    }

    &__text {
        white-space: pre-line;
        @include responsive($desktop) {
            border: 2px solid black;
            padding: 30px;
            border-radius: 10px;
        }
    }
    
    &__warning, &__link {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 25px;
        }
        p {
            color: $red;
            font-size: 16px;
        }
    }

    &__link {
        cursor: pointer;

        img {
            width: 20px;
        }
        p {
            color: $dark_grey;
            text-decoration: underline;
        }
    }
    
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        @include responsive($desktop) {
            position: absolute;
            left: calc(100% + 30px);
            width: fit-content;
        }

        button {
            height: 40px;
            width: 40%;
            background-color: $light_yellow;
            border-radius: 10px;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @include responsive($desktop) {
                width: 200px;
                padding: 0 20px;   
            }
        }

        @keyframes clicked {
            0% {background-color: $green;}
            100% {background-color: $light_yellow;}
        }

        .copied {
            color: $green;
            animation-name: clicked;
            animation-duration: 400ms;
            border: 1px solid $green;
        }
    }
}