.steps-container {

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &__question {
            text-align: center;
        }
        
        &__options {
            @include flex_centered(row);
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            @include responsive($desktop) {
                flex-direction: column;
            }

            &-option {
                height: 40px;
                width: 40%;
                @include flex_centered(row);
                border: 2px solid $dark_grey;
                background-color: $light_yellow;
                cursor: pointer;
                transition: 100ms;

                &:hover {
                    color: $light_yellow;
                    background-color: $dark_grey;
                }
            }
        }
    }
}