.tutorial {
  display: flex;
  flex-direction: column;
  gap: 300px;

  &__toggle {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  
    img {
      display: none;
  
      @include responsive($desktop) {
        display: block;
        width: 20px;
      }
    }
  
    p {
      text-decoration: underline;
    }
  }

  @keyframes show {
    from {opacity: 0}
    to {opacity: 1}
  }
  &__instructions {
    display: flex;
    flex-direction: column;
    gap: 50px;
    animation-name: show;
    animation-duration: 200ms;
    scroll-margin-top: 100px;

    img {
      box-shadow: 4px 4px 28px -9px;
    }
  }
}
