@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body, button, input, textarea {
  font-family: "Montserrat-Medium";
  color: #424242;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  height: 100svh;
  padding: 30px 20px;
  background-color: #FFFDED;
  position: relative;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

main, .main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.disabled {
  pointer-events: none;
}

.visible {
  opacity: 1 !important;
}

.invisible {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.show-flex {
  display: flex !important;
}

.show-block {
  display: block !important;
}

header {
  text-align: center;
}

.indicator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.indicator::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #424242;
  position: absolute;
  top: 50%;
}
.indicator__step {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #424242;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFDED;
  background-color: #424242;
  position: relative;
}
.indicator__completed {
  border: 2px solid #424242;
  background-color: #23CE6B;
}
.indicator__completed img {
  width: 40%;
}
.indicator__active {
  border: 2px solid #424242;
  background-color: #FFFDED;
  color: #424242;
}

.steps-container .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.steps-container .step__question {
  text-align: center;
}
.steps-container .step__options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.steps-container .step__options-option {
  height: 40px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #424242;
}

.notice {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.notice__warning {
  display: flex;
  align-items: center;
  gap: 10px;
}
.notice__warning img {
  width: 25px;
}
.notice__warning p {
  color: #EE4B4B;
  font-size: 16px;
}
.notice__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.notice__buttons button {
  height: 40px;
  width: 40%;
  background-color: #FFFDED;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.back-button {
  height: 40px;
  border-radius: 10px;
  background-color: #424242;
  color: #FFFDED;
  font-size: 20px;
  border: none;
  transition: 100ms;
}
.back-button:hover {
  background-color: #FFFDED;
  border: 2px solid #424242;
  color: #424242;
}/*# sourceMappingURL=main.css.map */